#cloud-config

# order boothook, bootcmd, runcmd

runcmd:
 - /bin/mkdir /bootscripts
 - /bin/echo '_part_' | $(which base64) -d | $(which gzip) -d > /bootscripts/part && chmod +x /bootscripts/part
 - /bin/echo '_scheme_' | /bin/base64 -d | /bin/gzip -d > /bootscripts/scheme.txt
 - cd  /bootscripts && ./part /dev/xvdb
 - /bin/echo 7 > /etc/yum/vars/releasever
 - /bin/systemctl unmask tmp.mount
 - /bin/rm -rf /bootscripts ; /sbin/reboot
